@page "/"
@namespace BudgetApp.Pages
@using BudgetApp

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<base href="~/" />

	<!-- odwołanie do Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
	<!-- Twój app.css -->
	<link rel="stylesheet" href="~/css/app.css" />

	<title>BudgetApp</title>
</head>
<body>
	<app>
		<component type="typeof(App)" render-mode="ServerPrerendered" />
	</app>

	<script src="_framework/blazor.server.js"></script>
	<!-- dołączamy tu Bootstrap JS -->
	<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
